WindowWithAllTokens/bin/Debug/net5.0/WindowWithAllTokens.deps.json
WindowWithAllTokens/bin/Debug/net5.0/WindowWithAllTokens.dll
WindowWithAllTokens/bin/Debug/net5.0/WindowWithAllTokens.exe
WindowWithAllTokens/bin/Debug/net5.0/WindowWithAllTokens.pdb
WindowWithAllTokens/bin/Debug/net5.0/WindowWithAllTokens.runtimeconfig.dev.json
WindowWithAllTokens/bin/Debug/net5.0/WindowWithAllTokens.runtimeconfig.json
WindowWithAllTokens/bin/Debug/net5.0/ref/WindowWithAllTokens.dll
WindowWithAllTokens/bin/Debug/net6.0/WindowWithAllTokens.deps.json
WindowWithAllTokens/bin/Debug/net6.0/WindowWithAllTokens.dll
WindowWithAllTokens/bin/Debug/net6.0/WindowWithAllTokens.exe
WindowWithAllTokens/bin/Debug/net6.0/WindowWithAllTokens.pdb
WindowWithAllTokens/bin/Debug/net6.0/WindowWithAllTokens.runtimeconfig.json
WindowWithAllTokens/obj/project.assets.json
WindowWithAllTokens/obj/project.nuget.cache
WindowWithAllTokens/obj/WindowWithAllTokens.csproj.nuget.dgspec.json
WindowWithAllTokens/obj/WindowWithAllTokens.csproj.nuget.g.props
WindowWithAllTokens/obj/WindowWithAllTokens.csproj.nuget.g.targets
WindowWithAllTokens/obj/Debug/net5.0/apphost.exe
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.AssemblyInfoInputs.cache
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.assets.cache
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.csproj.AssemblyReference.cache
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.csproj.CoreCompileInputs.cache
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.csproj.FileListAbsolute.txt
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.dll
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.GeneratedMSBuildEditorConfig.editorconfig
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.genruntimeconfig.cache
WindowWithAllTokens/obj/Debug/net5.0/WindowWithAllTokens.pdb
WindowWithAllTokens/obj/Debug/net5.0/ref/WindowWithAllTokens.dll
WindowWithAllTokens/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WindowWithAllTokens/obj/Debug/net6.0/apphost.exe
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.AssemblyInfo.cs
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.AssemblyInfoInputs.cache
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.assets.cache
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.csproj.AssemblyReference.cache
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.csproj.CoreCompileInputs.cache
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.csproj.FileListAbsolute.txt
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.dll
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.GeneratedMSBuildEditorConfig.editorconfig
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.genruntimeconfig.cache
WindowWithAllTokens/obj/Debug/net6.0/WindowWithAllTokens.pdb
WindowWithAllTokens/obj/Debug/net6.0/ref/WindowWithAllTokens.dll
WindowWithAllTokens/obj/Debug/net6.0/refint/WindowWithAllTokens.dll
